@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">@Localizer["Heading"]</label>
        <div class="col-sm-3">
            <input class="form-control" id="caption" name="caption" placeholder="@Localizer["Heading"]">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Localizer["NumberOfItem"]</label>
        <div class="col-sm-3">
            <input class="form-control" id="caption" name="caption" placeholder="@Localizer["NumberOfItem"]">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Localizer["Tag"]</label>
        <div class="col-sm-3">
            @await Html.PartialAsync("Tag")
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Localizer["Annotation"]</label>
        <div class="col-sm-6">
            <textarea class="form-control" rows="2" id="annotation" name="annotation" placeholder="@Localizer["Annotation"]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Localizer["Text"]</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="6" id="text" name="text" placeholder="@Localizer["Text"]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class=" col-sm-offset-2">
            <button type="submit" class="form-control btn btn-primary">@Localizer["Create"]</button>
        </div>
    </div>
</form>

